.headerInner{
    width: 100%;

    h1{
        font-size: 28px;
    }

    &-first-content{
        width: 100%;
        height: 300px;
        padding-top: 80px;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;

        .text{
            font-size: 30px;
        }
    }
    
    &-secound-content{
        width: 100%;
        display: flex;
        align-items: center;

        video{
            width: 800px;
            height: 500px;
            position: relative;
            border-radius: 30px;
            box-shadow:  1px 1px 3px #202020,
                        -1px -1px 3px #202020;
        }
        &-text{
            width: 60%;
            content: '';
            position: absolute;
            color: #fff;
            text-align: end;

            h1{                
                color: #fff;
                font-size: 46px;              
            }
            h3{
                color: #fff;
                text-transform: uppercase;
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 920px) {
    .headerInner{
        &-secound-content{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            video{
                width: 100%;
                height: 500px;
                overflow: hidden;
                object-fit: cover;
            }

            &-text{
                width: 70%;
            }
        }
    }
}