.skills{
    width: 100%;
    height: auto;

    h2{
        color: #fff;
        font-size: 20px;
        font-weight: 600;
    }
    
    .title{
        width: 100%;
        height: 50px;
        color: #fff;
    }
    &-items{
        width: 100%;
        display: flex;

        &-frontEnd{
            width: 50%;
            
        }
        &-backEnd{
            width: 50%;   
        }
        .skillsItemList{
            display: flex;
            flex-wrap: wrap;
        }
    }
}

@media screen and (max-width: 920px){
            
    .skills{

        &-items{
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            
            &-frontEnd, &-backEnd{
                width: 100%;
                flex-wrap: wrap;

                .skillsItemList{
                    justify-content: center;
                }
            }
        }
    }
    }
