.skills-item{
    width: 100%;
    margin: 20px;
    background-image: linear-gradient(to right, #b021fd, #ae2cf1, #ab35e6, #a83dda, #a443cf);
    width: 150px;
    height: 150px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow:  3px 3px 10px #202020,
                        -3px -3px 10px #202020;

    img{
        width: 80px;
    }
    
    p{
        color: #fff;
        font-size: 25px;
        font-weight: 600;
    }
}

.skills-item:hover{

    background-image: linear-gradient(to right, #ce74ff, #cb73f8, #c871f2, #c470eb, #c16fe5);
}