.loading{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, #434344, #3b3b3c, #343434, #2c2c2c, #252525);
    display: flex;
    justify-content: center;
    align-items: center;
}

.App{
    animation: focusApp 1s;
    background-image: linear-gradient(to right top, #434344, #3b3b3c, #343434, #2c2c2c, #252525);
}

.header{
    width: 100%;
    height: 100vh;
}

@keyframes focusApp{
    0% {filter: blur(10px);}
    100% {filter: blur(0px);}
}