.profilo-main{

    &-background{
        width: 100%;
        height: 100vh;
        position: relative;

        video{
            width: 100%;
            height: 100vh;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;        
        }

    }
}

.profilo{
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;

    h1{
        color: #fff;
        padding: 2rem 0;
    }

    &-background{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        

        img{
            width: 700px;
            border-radius: 30px;
            border: 2px solid #fff;
        }
    }
    &-content{
        width: 100%;
        display: flex;
        position: relative;
        top: -480px;


        &-left{
            width: 60%;
            position: relative;

            &-slides{
                height: 400px;
                padding: 30px;
                margin: 50px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-image: linear-gradient(to right, #b021fd, #ae2cf1, #ab35e6, #a83dda, #a443cf);
                border-radius: 30px;
                box-shadow:  3px 3px 10px #202020,
                -3px -3px 10px #202020;
                border: 2px solid #fff;
    
                &-title{
                    color: #fff;
                    margin: 30px 0;
                }
                &-texts{
                    height: 300px;
                    color: #fff;
                    padding: 30px;
                    border-radius: 30px;
                    background-image: linear-gradient(to right top, #434344, #3b3b3c, #343434, #2c2c2c, #252525);
                    font-weight: 600;
                    font-size: 0.9rem;
                    box-shadow:  1px 1px 3px #202020,
                    -1px -1px 3px #202020;
                }
            }

            .buttons{
                margin: 40px 0 ;
                width: 100%;
                display: flex;
                justify-content: center; 

                &-PreSlide, &-NextSlide{
                    margin: 0 30px;
                    padding: 5px 10px;
                    border-radius: 15px;
                    border: .15rem solid;
                    box-shadow:  1px 1px 3px #202020,
                    -1px -1px 3px #202020;
                    cursor: pointer;
                    
                    p{
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                }

                &-PreSlide{
                    background-color: #fff;
                    border-color: #a443cf;;

                    p{
                        color: #a443cf;
                    }
                }

                &-NextSlide{
                    background-color: #a443cf;
                    border-color: #fff;

                    p{
                        color: #fff;
                    }
                }

                &-PreSlide:hover{
                    transition: 0.5s;
                    background-color: #a443cf;
                    border-color: #fff;

                    p{
                        color: #fff
                    }
                }
                &-NextSlide:hover{
                    transition: 0.5s;
                    background-color: #fff;
                    border-color: #a443cf;;

                    p{
                        color: #a443cf;
                    }
                }
                
            }
        }

        &-right{
            width: 40%;
            height: 500px;
            display: flex;
            justify-content: center;

        }
    }

    @media screen and (max-width: 1200px){
        .profilo-background{
            display: none;
        }
        
        &-content{
            top: -50px;

            &-left{
                width: 100%;

                &-slides{
                    height: 600px;

                    &-texts{
                        height: 400px;
                    }
                }
            }

            &-right{
                display: none;
            }
        }
    }
}

.roket{
    width: 200px;
}